<%= form_for @profile, :url => {:action => :edit} do |f| %>
  <div class="field">
    <%= f.label :name, "名前" %>
    <%= f.text_field :name%>
  </div>

  <div class="field">
    <%= f.label :birthday, "生年月日" %>
    <%= f.select :b_y, Birthday::BIRTHDAY_YEAR %>
    <%= f.select :b_m, Birthday::BIRTHDAY_MONTH %>
    <%= f.select :b_d, Birthday::BIRTHDAY_DAY %>
  </div>

  <div class="field">
    <%= f.label :gender, "性別" %>
    <%= f.select :gender, Profile.genders.keys.to_a %>
  </div>

  <div class="field">
    <%= f.label :school_name, "学校名" %>
    <%= f.text_field :school_name%>
  </div>

  <div class="actions">
    <%= f.submit "登録" %>
  </div>
<% end %>
