<%
  object_name     = controller_name.singularize
  object          = instance_variable_get("@#{object_name}")
  decorator_model = eval("#{controller_name.singularize}".camelize + "Decorator")
%>

<div class="row">
  <div class="col-md-6 offset-md-3">
    <%= form_for [object] do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>

      <h4><%= object.class.model_name.human %></h4>

      <% decorator_model.form_objects(f).each do |form_object|%>
        <div class="form-group pb-2">
          <%= f.label form_object[:label], class:'font-weight-bold' %>
          <%= form_object[:input], class: 'form-control' %>
        </div>
      <%end%>

      <%= f.submit class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
</div>
