<h2>プロフィールページ</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email, "Email" %>
    <%= f.email_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :name, "名前" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :birth, "年齢" %><br>
    <%= f.date_select(:birth, { start_year: 1988, end_year: 2000 }, class: "form-control bootstrap-date") %>
  </div>

  <div class="form-group">
    <%= f.label :gender, "性別" %>
    <%= f.select :gender, User.genders_i18n.invert, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :univ_name, "学校名" %>
    <%= f.text_field :univ_name, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "登録する", class: "btn btn-success" %>
  </div>
<% end %>
