<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true, autocomplete: "username" %>
  </div>

  <div class="field">
    <%= f.label :birthday %><br />
    <%= f.date_select :birthday, :use_month_numbers => true,:start_year => 1900%>
  </div>

  <div class="field">
    <%= f.label :gender %><br />
    <%= f.select :gender, [["man","man"], ["woman", "woman"]]%>
  </div>

  <div class="field">
    <%= f.label :school %><br />
    <%= f.text_field :school, autofocus: true, autocomplete: "school" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>
