<h2>プロフィールページ</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, "名前" %><br />
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :birthday, "生年月日" %><br />
    <%= raw sprintf(
                f.date_select(
                    :birthday,
                    {
                        use_month_numbers: true,
                        date_separator:    '%s',
                        start_year: 1988,
                        end_year: (Time.now.year - 18)
                    },
                    { class: "form-control bootstrap-selector" }),
    "年 ", "月 ") + "日"%>
  </div>

  <div class="form-group">
    <%= f.label :gender, "性別" %><br />
    <%= f.select :gender, User.genders.keys.to_a, {}, { class: "form-control bootstrap-selector" } %>
  </div>

  <div class="form-group">
    <%= f.label :school, "学校名" %><br />
    <%= f.text_field :school, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password, "パスワード" %> <i>(パスワードを変更しない場合は空欄のままにしてください。)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, "パスワード(再入力)" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :current_password, "現在のパスワード" %> <i>(変更するためにはパスワードが必要です。)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "更新", class: "btn btn-primary" %>
  </div>
<% end %>

<h3>退会</h3>

<p>退会してユーザー情報を削除しますか？ <%= button_to "退会する", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %></p>

<%= link_to "戻る", :back %>
