<h2>プロフィールページ</h2>

<%= bootstrap_devise_error_messages! %>
<div class="panel panel-default devise-bs">
  <div class="panel-heading">
    <h4><%= t('.title', resource: resource_class.model_name.human , default: "Edit #{resource_name.to_s.humanize}") %></h4>
  </div>
  <div class="panel-body">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <div class="form-group">
        <%= f.label :email, 'Email' %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "Email" %>
      </div>

      <div class="form-group">
        <%= f.label :username, '名前' %><br />
        <%= f.text_field :username %>
      </div>

      <div class="form-group">
      <%= f.label :birthdate, '生年月日' %><br />
      <%= raw sprintf(
          f.date_select(
            :birthdate,
            use_month_numbers: true,
            start_year:        1988,
            end_year:          (Time.now.year - 18),
            default:           Date.new(1989, 1, 1),
            date_separator:    '%s'),
                '年 ', '月 ') + '日' %>
      </div>

      <div class="form-group">
        <%= f.label :sex, '性別' %><br />
        <%= f.select :sex, [["男性", "male"], ["女性", "female"], ["その他", "other"]] %>
      </div>

      <div class="form-group">
        <%= f.label :schoolname, '学校名' %><br />
        <%= f.text_field :schoolname %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="form-group">
        <%= f.label :password, 'パスワード' %><br/>
        <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, 'パスワード(再入力)' %><br/>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :current_password, 'パスワード確認欄' %><br />
        <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
      </div>

      <div class="actions">
        <%= f.submit t('.update', default: '登録する'), class: 'btn btn-primary' %>
      </div>
      
    <% end %>
  </div>
</div>

<!-- ユーザー削除部分(コメントアウト)
<p><%= t('.unhappy', default: 'Unhappy') %>? <%= link_to t('.cancel_my_account', default: 'Cancel my account'), registration_path(resource_name), data: { confirm: t('.are_you_sure', default: "Are you sure?") }, method: :delete %>.</p>
-->
<!-- 戻るボタン(コメントアウト)
<%= link_to t('.back', default: 'Back'), :back %>
-->
