<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :gender %>
    <%= f.select :gender, User.genders_i18n.invert %>
  </div>
  <div class="field">
    <%= f.label :birth_date %><br />
    <%= f.number_field :birth_date, maxlength: 8, placeholder: "例:19940405" %>
  </div>
  <div class="field">
    <%= f.label :school_name %><br />
    <%= f.text_field :school_name %>
  </div>


  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
