<h2>プロフィールページ</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email, 'Email' %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="form-group">
    <%= f.label :username, '名前' %><br />
    <%= f.text_field :username %>
  </div>

    <div class="form-group">
    <%= f.label :birthdate, '生年月日' %><br />
    <%= raw sprintf(
        f.date_select(
          :birthdate,
          use_month_numbers: true,
          start_year:        1988,
          end_year:          (Time.now.year - 18),
          default:           Date.new(1989, 1, 1),
          date_separator:    '%s'),
              '年 ', '月 ') + '日' %>
  </div>

  <div class="form-group">
    <%= f.label :sex, '性別' %><br />
    <%= f.select :sex, [["男性", "male"], ["女性", "female"], ["その他", "other"]] %>
  </div>

  <div class="form-group">
    <%= f.label :schoolname, '学校名' %><br />
    <%= f.text_field :schoolname %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

<!-- パスワード変更部分(コメントアウト)
  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  -->


  <div class="field">
    <%= f.label :current_password, 'パスワード確認欄' %><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "登録する" %>
  </div>
<% end %>

<!-- ユーザー削除部分(コメントアウト)
<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
-->

<!-- 戻るボタン(コメントアウト)
<%= link_to "Back", :back %>
-->
