<h2>ユーザー登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <strong>
    <%= f.label :email %><br />
    </strong>
    <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"form_field" %>
  </div>

  <div class="field">
    <strong>
    <%= f.label :password %>
  </strong>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %>文字以上で入力してください)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class:"form_field" %>
  </div>

  <div class="field">
    <strong>
    <%= f.label :password_confirmation %><br />
    </strong>
    <%= f.password_field :password_confirmation, autocomplete: "off", class:"form_field" %>
  </div>

  <div class="actions">
    <%= f.submit "ユーザー登録", class:"btn"%>
  </div>
<% end %>

<%= render "devise/shared/links" %>
