<% if @interview.errors.any? %>
  <div class="error_explanation">
    <div class="alert alert-error">
      <ul>
        <% @interview.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<%= form_for [@user, @interview] do |f| %>

  <div class="form-group">
    <%= f.label :interview_date, "Interview Date" %><br>
    <%= f.datetime_select :interview_date,
      {start_year: Time.current.year,
      start_month: Time.current.month},
      class: "form-control bootstrap_date_select" %>
  </div>

  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>
