<h2>面接一覧</h2>

<table>
  <tr>
    <th>面接官</th>
    <th>面接日</th>
    <th>可否</th>
    <th>登録日</th>
    <th>編集</th>
    <th>削除</th>
  </tr>
<% current_user.interviews.all.each do |interview| %>
  <tr>
    <td><%= User.find(interview.interviewer_id).name %></td>
    <td><%= interview.schedule.strftime("%Y-%m-%d %H:%M") %></td>
    <td><%= interview.schedule_status %></td>
    <td><%= interview.created_at.strftime("%Y-%m-%d %H:%M") %></td>
    <td>
      <%= link_to "編集", edit_user_interview_path(current_user, interview) %></p>
    </td>
    <td>
      <%= link_to "削除", user_interview_path(current_user, interview), method: :delete %></p>
    </td>
  </tr>
<% end %>
</table>