<%= render "layouts/header" %>
<h1><%= current_user.name %>さんの面接候補日一覧</h1>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>面接開始時間</th>
      <th>承認状態</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @interviews.each do |interview| %>
      <tr>
      <td>
        <div class="text-center">
          <%= interview.start_time.strftime("%Y年%m月%d日 %H時%M分") %>
        </div>
      </td>
      <td>
        <div class="text-center">
          <%= interview.status_i18n %>
        </div>
      </td>
      <td>
        <div class="text-center">
          編集
        </div>
      </td>
      <td>
        <div class="text-center">
          削除
        </div>
      </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "面接日程の新規作成", new_user_interview_path %>
