:css
  td {
    border: 1px solid;
  }

%h1 #{@user.name}さんの面接一覧
%table
  %thead
    %td 面接開始時間
    %td{ colspan: "2" } 日程編集
  %tbody
  - @interviews.each do |interview|
    %tr
      %td
        = interview.interview_datetime.strftime("%Y/%m/%d  %H:%M:%S")
      %td
        = link_to "編集", edit_user_interview_path(id: interview.id)
      %td
        = link_to "削除", user_interview_path(id: interview.id), method: :DELETE


%br
= link_to "新規日程作成", new_user_interview_path

