<h2><%= @user.name %>さんの面接一覧</h2>
<% unless current_user.id == @user.id %>
  <%= render 'select' %>
<% else %>
  <% unless @approved_interview.nil? %>
    <h3>確定面接日時：<%= @approved_interview.datetime.strftime("%Y年%m月%d日 %H時%M分") %></h3>
  <% end %>
  <table>
    <tr>
      <th>面接日時</th>
      <th>承認状態</th>
      <% if current_user.id == @user.id %>
      <th>削除</th>
      <% end %>
    </tr>
    <% @interviews.each do |interview| %>
    <tr>
      <td>
      <% if current_user.id == @user.id && interview.suspended? %>
        <%= link_to interview.datetime.strftime("%Y年%m月%d日 %H時%M分"), edit_user_interview_path(@user, interview) %>
      <% else %>
        <%= interview.datetime.strftime("%Y年%m月%d日 %H時%M分") %>
      <% end %>
      </td>
      <td>
      <%= interview.status_i18n %>
      </td>
      <td>
      <% if current_user.id == @user.id && interview.suspended? %>
        <%= link_to "削除", user_interview_path(@user, interview), method: :delete, data: { confirm: "削除します。宜しいですか?" } %>
      <% end %>
      </td>
    </tr>
    <% end %>
  </table>
  <br>
  <div class="field">
     <!-- モデルを意識しないform_tagに変更しました -->
    <%= form_tag(action: :select_approver, method: :post) do %>
      <%= label_tag :申請先選択 %>
      <br>
      <%= select_tag :email, options_for_select(@email) %>
      <br>
      <%= submit_tag :申請 %>
    <% end %>
  </div>
  <% if current_user.id == @user.id %>
    <br>
    <%= link_to "新規面接登録", new_user_interview_path(@user) %><br>
  <% end %>
<% end %>
<br>
<%= link_to "戻る", :back %>
