<div class="col-md-6 col-md-offset-3">
  <h1>プロフィールページ</h1>
  <div class="row">
  <%= form_for(@user) do |f| %>

    <%= f.label :email %>
    <%= f.text_field :email, class: 'form-control' %>

    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>

    <%= f.label :birthdate %></br>
    <%= f.date_select :birthdate, {start_year: 1988, end_year: 2000,
                        default: Date.new(2000, 1, 1)},
                       { class: 'form-control bootstrap-date'} %></br>

    <%= f.label :gender %>
    <%= f.select :gender, User.genders.map{|k, _| [t("users.gender.#{k}"), k]},
                    {}, {class: 'form-control bootstrap-gender'} %>

    <%= f.label :school %>
    <%= f.text_field :school, class: 'form-control' %>

    <%= f.submit "更新する", class: 'btn btn-primary' %>

  <% end %>
  </div>
</div>
