<h1>ユーザー一覧</h1>
<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>名前</th>
        <th>Email</th>
        <th>年齢</th>
        <th>性別</th>
        <th>学校名</th>
        <th>面接日時</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
      <% date = user.interviews.find_by(availability: 'approval') %>
      <tr>
        <td><div class="text-center"><%= user.name %></div></td>
        <td><div class="text-center"><%= user.email %></div></td>
        <td><div class="text-center"><%= user.age %></div></td>
        <td><div class="text-center"><%= user.gender %></div></td>
        <td><div class="text-center"><%= user.school %></div></td>
        <td><div class="text-center"><%= date.nil? ? 'まだ確定されていません' : simple_time(date.schedule) %></div></td>
        <td><%= link_to "面接一覧", user_interviews_path(user), class: 'btn btn-primary' %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
