<h2>ユーザー一覧</h2>
<table>
  <tr>
    <th>名前</th>
    <th>メールアドレス</th>
    <th>年齢</th>
    <th>性別</th>
    <th>学校</th>
    <th>面接日時</th>
    <th>面接一覧</th>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= user.age %></td>
    <td><%= user.sex_i18n %></td>
    <td><%= user.school %></td>
    <td>面接日時</td>
    <td><%= link_to "面接日時", user_interviews_path(user.id) %></td>
  </tr>
  <% end %>
</table>
<br><%= link_to "戻る", :back %><br>