<% @users.each do |user| %>
  <div class="user-info"">
    <ul>
      <li><%= user.email %></li>    
      <li><%= user.username %></li>
      <li><%= user.birthday %></li>
      <li><%= user.gender %></li>
      <li><%= user.school %></li>
    </ul>
  </div>
<% end %>