<div class="">
  <ul>
    <li>aa</li>
    <li><%= @user.name %></li>
    <li><%= @user.age %></li>
    <li><%= @user.sex%></li>
    <li><%= @user.school_name%></li>
    <li><%= @user.email %></li>
  </ul>


</div>
