<% if @user.name == nil %>
  <h2>新規ユーザーさんのプロフィール</h2>
<% else %>
  <h2><%= @user.name %>さんのプロフィール</h2>
<% end %>
<ul>
  <li>
    <td>メールアドレス：</td>
  <td><%= @user.email %></td>
  </li>
  <li>
    <td>性別：</td>
    <td><%= @user.sex_i18n %></td>
  </li>
  <li>
    <td>年齢：</td>
    <% if @user.birthday == nil %>
      <td></td><br>
    <% else %>
      <td><%= @user.age %>歳</td>
    <% end %>
  </li>
  <li>
    <td>学校：</td>
    <td><%= @user.school %></td>
  </li>
</ul>
