<p>面談の日程を調整するためのアプリケーション</p>

<% if user_signed_in? %>
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
  <%= link_to "マイページ", user_path(current_user) %>
  <%= link_to "プロフィール編集", edit_user_path(current_user) %>

<% else %>
<%= link_to "ログイン", new_user_session_path, class: 'post' %>
  <%= link_to "新規登録", new_user_registration_path, class: 'post' %>


<% end %>