%h2 ログイン
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .field
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email"
  .field
    = f.label :password
    %br/
    = f.password_field :password, autocomplete: "off"
  - if devise_mapping.rememberable?
    .field.field-flex
      = f.check_box :remember_me, class: "check_box"
      = f.label :remember_me, "ログインを記憶する", class: "check_box"
  .actions
    = f.submit "ログイン", class: "btn btn-success"
= render "devise/shared/links"
