<h2>ログイン</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email ,'Eメール' %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", value: "user1@feedforce.jp" %>
  </div>

  <div class="field">
    <%= f.label :password ,'パスワード' %><br />
    <%= f.password_field :password, autocomplete: "off", value: "password" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, 'ログインを記憶する' %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>

<%= link_to 'ユーザー登録', new_user_registration_path %>

<%#= render "devise/shared/links" %>
