%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"data-toggle":"collapse", "data-target": "#navbar-contents"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "e-Navigator", root_path, class: "navbar-brand"
    #navbar-contents.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          = link_to "プロフィール", edit_user_path(current_user.id), class: "header-menu-content"
        %li
          = link_to "自分の面接一覧", "", class: "header-menu-content"
        %li
          = link_to "メール", "", class: "header-menu-content"
        %li
          = link_to "ログアウト", destroy_user_session_path,method: :delete, class: "header-menu-content"
