<header>
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
		<div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarNav" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <strong><%= link_to 'e-Navigator', root_path, class: "navbar-brand nav-link" %></strong>
            </div>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="nav navbar-nav navbar-right">
                <% if user_signed_in? %>
                    <li><%= link_to 'プロフィール', edit_user_registration_path %></li>
                    <li><%= link_to '自分の面接一覧', current_user %></li>
                    <li><%= link_to 'メール', "#" %></li>
                    <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
                <% else %>
                    <li><%= link_to 'サインアップ', new_user_registration_path %></li>
                    <li><%= link_to 'ログイン', new_user_session_path %></li>
                <% end %>
                </ul>
            </div>
        </div>
    </nav>
</header>