<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">e-Navigator</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbars">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item mr-2 active">
            <%= link_to 'ホーム', root_path, class: 'nav-link'%>
          </li>
          <% if logged_in? %>
          <li class="nav-item mr-2 ">
            <%= link_to 'ユーザー一覧', users_path, class: 'nav-link'%>
          </li>
          <li class="nav-item mr-2 ">
            <%= link_to 'ログアウト', logout_path, method: :delete, class: 'nav-link' %>
          </li>
          <% else %>
          <li class="nav-item mr-2 ">
            <%= link_to '新規登録', signup_path, class: 'nav-link'%>
          </li>
          <li class="nav-item mr-2 ">
            <%= link_to 'ログイン', login_path, class: 'nav-link'%>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>