<!DOCTYPE html>
<html>
  <head>
    <title>ENavigator</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= link_to 'Top', root_path, method: :get%>
    <% if user_signed_in? %>
      <%= link_to 'Profile', edit_user_registration_path, method: :get%>
      <%= link_to 'Sign out', destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    <%= yield %>
  </body>
</html>
