<!DOCTYPE html>
<html>
  <head>
    <title>ENavigator</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
        <% if session[:user_id] %>
          <%= link_to("ユーザー編集", "/user/#{session[:user_id]}/edit", {method: "post"}) %>
        <% else %>
          <%= link_to("新規登録", "/user/new") %>
        <% end %>
    </header>

    <%= yield %>
  </body>
</html>
