<!DOCTYPE html>
<html>
  <head>
    <title>ENavigator</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if notice %>
      <p class="notice display_message"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert display_message"><%= alert %></p>
    <% end %>
    <header>
      <nav>
        <ul>
          <% if user_signed_in? %>
            <li>
              <%= link_to 'プロフィールの編集', edit_user_registration_path %>
            </li>
            <li>
              <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
            </li>
          <% else %>
            <li>
              <%= link_to('ログイン', new_user_session_path) %>
            </li>
            <li>
              <%= link_to('新規登録', new_user_registration_path) %>
            </li>
          <% end %>
        </ul>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
