!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ENavigator
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    - flash.each do |key, value|
      - if value == notice
        = content_tag(:div, value, class: "alert alert--success")
      - if value == alert
        = content_tag(:div, value, class: "alert alert--danger")

    = yield
