<!DOCTYPE html>
<html>
  <head>
    <title>ENavigator</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
    <% if current_user %>
      <%= link_to 'UserEdit', edit_user_registration_path %>
      <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to 'Login', new_user_session_path %>
      <%= link_to 'SignUp', new_user_registration_path %>
      <%= link_to 'Password Forget?', new_user_password_path %>
    <% end %>
    </header>
    <%= yield %>
  </body>
</html>
