<!DOCTYPE html>
<html>
  <head>
    <title>ENavigator</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <%= render 'layouts/navbar' %>
  <%= render 'layouts/flash' %>

  <body>
    <%= yield %>
  </body>
</html>
