<!DOCTYPE html>
<html>
  <head>
    <title>ENavigator</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render partial: 'layouts/header' if user_signed_in? %>
    <%= yield %>
  </body>
</html>
