<!DOCTYPE html>
<html>
  <head>
    <title>ENavigator</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <header>
    <div class="header_bar">
      <ul>
        <li><%= link_to "e-navigator", '#', class: 'navi' %></li>
        <li><%= link_to "プロフィール", edit_user_path(id: current_user.id) , class: 'navi' %></li>
        <li><%= link_to "自分の面接一覧", '#', class: 'navi' %></li>
        <li><%= link_to "メール", '#', class: 'navi' %></li>
        <li><%= link_to "ログアウト", '#', class: 'navi' %></li>
      </ul>
    </div>
  </header>
    <%= yield %>
  </body>
</html>
